[submodule "packages/aur/pacmc"]
	path = packages/aur/pacmc
	url = ssh://aur@aur.archlinux.org/pacmc.git
[submodule "packages/scoop-extras"]
	path = packages/scoop-extras
	url = https://github.com/bluefireoly/scoop-extras.git
[submodule "packages/scoop-games"]
	path = packages/scoop-games
	url = https://github.com/bluefireoly/scoop-games.git
